* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    font: 18px/1.5 'Ubuntu', sans-serif;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

p {
    margin-top: 0;
    margin-bottom: 2em;
}

h1 {
    font-size: 60px;
    font-weight: bold;
}


#wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -130px;
    margin-left: -300px;
    height: 260px;
    width: 600px;
    text-align: center;
}