body{
  font-family: 'Source Han Sans CN';
  margin: 0;padding: 0;
  background-color: #FFFFFF;
  box-sizing: border-box;
}
input{
  padding:0 15px;
  outline: none;
}
a{
  text-decoration: none;
}
li{list-style: none;}
.cerfix::after{
  content: '';
  display: block;
  clear: both;
}
#two,#three,#four,#five,#six{
  display: none;
}
.loding{
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.show_box{
  width: 750px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 5px;
  margin: 50px auto 0 auto;
  min-height: 616px;
}
.nav_top{ 
  flex-wrap: nowrap;
  box-sizing: border-box;
  padding: 16px 20px;
  background: url('../images/navbg.png') no-repeat top left / 100% 67px;
}
.nav_top img{
  float:left;
  width: 141px;
  height: auto;
}
.nav_top h4{
  float:right;
  line-height: 26px;
  margin: 0%;
  font-size: 24px;
  font-weight: 300;
  color: #FFFFFF;
}
.text_content{
  font-size: 14px;
  font-weight: 400;
  color: #181C32;
  padding: 40px 30px;
}
.text_content h3{
  text-align: center;
}
.text_contentbg::-webkit-scrollbar{
  display: none;
}
.text_contentbg{
  line-height: 30px;
  height: 500px;
  overflow-y: auto;
  background-color: #8ec8e21a;
  padding: 20px;
  border-radius: 10px;
}
.btnbox{
  text-align: center;
  padding-bottom: 30px;
}
.btnbox button{
  padding: 0 20px;
  height: 34px;
  background: #FFFFFF;
  border: 1px solid rgba(54, 153, 255, 0.5);
  border-radius: 17px;
  cursor: pointer;
  outline: none;
}
.foot_banquan{
  font-size: 12px;
  font-weight: 300;
  color: #9C9C9C;
  line-height: 24px;
  text-align: center;
  margin-top: 20px;
}

.buzou {
  padding: 20px 65px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  border-bottom: 1px solid #f2f2f2;
}
.buzou li {
  line-height: 22px;
}
.buzou li i {
  margin-top: 18px;
  display: block;
  width: 108px;
  height: 6px;
  background: #dde3f3;
  opacity: 0.8;
  border-radius: 3px;
}
.buzou li b{
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  color: white;

  display: inline-block;
  background: url('../images/iconbg2.png') no-repeat center center;
}
.buzou li .active{
  background: url('../images/iconbg.png') no-repeat center center;
}
.table{ padding: 40px 0;}
.table_content {
  padding: 0 40px;
  margin: 0;
  box-sizing: border-box;
}
.table_content li{
  border-bottom: 1px solid #dddddd;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 48px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 30px;
}
.table_content li:first-child,.table_content li:last-child{
  border-bottom: 0;
}
.table_content li span{
  padding-left: 1em;
}
.ztri{padding-right: 20px;}
.table_content .table_title span{padding-left: 0;}
.table_content .table_title {
  font-size: 14px;
  color: #181c32;
  /* height: 40px; */
  background: #f3f6f9;
  border-radius: 5px;
  line-height: 40px;
}
.input_content{
  padding: 40px;
}
.input_title{
  padding:0 36px;
  line-height: 26px;
  border-bottom: 1px solid #2F54EA;
}
.input_title span{
  display: inline-block;
  border-bottom: 3px solid #6C63FF;
}
.text_row{
  padding: 0 36px;
  margin-top: 20px;
}
.text_row input{
  width: 100%;
  height: 34px;
  background: #FFFFFF;
  border: 1px solid #E4E6EF;
  border-radius: 2px;
  margin-top: 10px;
  box-sizing: border-box;
}
.dwinpt{
  width: 100%;
  position: relative;
}
.flex{
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
}
.flex .label{
  min-width: 120px;
  font-size: 14px;
  line-height: 38px;
}
.flex input{
  margin-top: 0;
  padding-right: 50px;
  box-sizing: border-box;
}
.flex img{
  position: absolute;
  right: 10px;
  top:12px;
  cursor: pointer;
}
.youjian{
  width: 160px;
  height: 34px;
  outline: none;
  border-color: #E4E6EF;
  background: #F3F6F9;
  border-radius: 0px 2px 2px 0px;
}
.list::-webkit-scrollbar{
  display: none;
}
.list{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
.list li img{
  width: 14px;
  height: 14px;
  margin-right: 10px;
}
.jindutiao{
  padding: 30px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content:left;
}
.jd_lable{
  width: 120px;
}
.progress {
  width: 100%;
  height: 20px;
  background: #ebebeb;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 10px;
}
.progress > span {
  position: relative;
  float: left;
  margin: 0 -1px;
  min-width: 30px;
  height: 18px;
  line-height: 16px;
  text-align: right;
  background: #cccccc;
  border: 1px solid;
  border-color: #bfbfbf #b3b3b3 #9e9e9e;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(top, #f0f0f0 0%, #dbdbdb 70%, #cccccc 100%);
  background-image: -moz-linear-gradient(top, #f0f0f0 0%, #dbdbdb 70%, #cccccc 100%);
  background-image: -o-linear-gradient(top, #f0f0f0 0%, #dbdbdb 70%, #cccccc 100%);
  background-image: linear-gradient(to bottom, #f0f0f0 0%, #dbdbdb 70%, #cccccc 100%);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
}
.progress > span > span {
  padding: 0 8px;
  font-size: 11px;
  font-weight: bold;
  color: #404040;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}
.progress > span:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 18px;
  background: url("../images/progress.png") 0 0 repeat-x;
  border-radius: 10px;
}

.progress .blue {
  background: #5aaadb;
  border-color: #459fd6 #3094d2 #277db2;
  background-image: -webkit-linear-gradient(top, #aed5ed 0%, #7bbbe2 70%, #5aaadb 100%);
  background-image: -moz-linear-gradient(top, #aed5ed 0%, #7bbbe2 70%, #5aaadb 100%);
  background-image: -o-linear-gradient(top, #aed5ed 0%, #7bbbe2 70%, #5aaadb 100%);
  background-image: linear-gradient(to bottom, #aed5ed 0%, #7bbbe2 70%, #5aaadb 100%);
}
.info_content h3{
  font-size: 24px;
  font-weight: 300;
  color: #27C478;
  text-align: center;
  margin: 70px 0;
}
.info{
  width: 450px;
  padding:0 20px;
  margin: 0 auto;
}
.info_textrow{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.lable{
  min-width: 100px;
  margin-right: 20px;
}
.info_textrow{
  margin: 20px 0;
}
.info_textrow input{
  width: 100%;
  height: 26px;
  line-height: 26px;
  background: #F7FCFF;
  border: 1px solid #ECF6FF;
  border-radius: 13px;
}
.tishi{
  font-size: 12px;
  font-weight: 200;
  color: #B5B5C3;
  line-height: 18px;
  margin: 0;
  padding: 15px;
  border: 1px dashed #DDEFFA;
  margin-top: 30px;
}
.errts{
  display: none;
  line-height: 44px;
  padding: 0 12px;
  background: #FFE2E5;
  border-radius: 5px;
  color: #F64E60;
  font-size: 14px;
}
.errts img{
  display: block;
  float: left;
  margin-top: 14px;
}
.edition{
  margin-left: 10px;
}
.tishiinput{
  font-size: 12px;
  color: #F64E60;
}
@media (max-width:750px){
  .show_box{margin-top: 0;}
  .text_row{padding: 0;}
  .table_content{padding: 0 20px;}
  .buzou,.input_content{padding: 20px;}
  .buzou li b{display: block;width: auto;}
  .nav_top{
    background: url('../images/navbg.png') no-repeat top left / 100% 100%;
  }
  .buzou li i,.info,.show_box{
    width: auto;
  }
  .flex{display: block;}
}