.configinfo_box {
  background-color: #fff;
  box-shadow: 0 4px 15px 1px #e6e8f4;
  border-radius: 4px 4px 15px 15px;
  padding: 20px;
  position: relative;
  min-height: 530px;
}

.configinfo_box .configinfo_box_option {
  min-height: 130px;
  background-color: #fff;
  box-shadow: 0 4px 20px 2px rgba(6, 75, 179, 0.08);
  border-radius: 4px;
  position: relative;
  margin-bottom: 80px !important;
}

.configinfo_box .configinfo_box_cycle {
  min-height: 100px;
  background-color: #fff;
  box-shadow: 0 4px 20px 2px rgba(6, 75, 179, 0.08);
  border-radius: 4px;
  margin-bottom: 100px;
  position: relative;
}

.configinfo_box_option .box_option_left,
.configinfo_box_cycle .box_cycle_left {
  width: 40px;
  background-color: #ced1e2;
  border-radius: 4px 0 0 4px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-weight: 700;
  font-size: 14px;
}

.configinfo_box_option .box_option_right {
  margin-left: 50px;
}

.configinfo_box_cycle .box_cycle_left {
  background-color: #f1672a;
  color: #fff;
}

.configinfo_box .configinfo_box_options {
  background-color: #fff;
  box-shadow: 0 -5px 20px -3px rgba(6, 75, 179, 0.16);
  position: absolute;
  bottom: 80px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.configinfo_box .configinfo_box_options.wrap {
  bottom: 0;
}

.configinfo_box .configinfo_box_options .box_options_inner {
  padding-bottom: 20px;
  margin: 30px 20px 0 20px;
  border-bottom: 1px solid #eaeaea;
}

.configinfo_box .configinfo_box_options .box_options_inner .options_inner_item {
  padding: 0 50px;
}

.configinfo_box .configinfo_box_options .box_options_inner .row {
  margin: 0 -50px;
}

.configinfo_box .configinfo_box_bottom {
  height: 80px;
  background-color: #fff;
  box-shadow: 0 4px 20px 2px rgba(6, 75, 179, 0.08);
  border-radius: 0 0 15px 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.configinfo_box_bottom .box_bottom_left .bottom_left_expand {
  width: 61px;
  height: 30px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  padding: 5px 10px;
}

.configinfo_box_bottom .box_bottom_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box_bottom_right .footer_box_price {
  font-size: 22px;
  color: #2f54ea;
  position: relative;
}

.box_bottom_right .footer_box_btn button {
  width: 120px;
  height: 36px;
  background-color: #2f54ea;
  box-shadow: 0 6px 11px 1px rgba(6, 31, 179, 0.26);
  border-radius: 4px;
}
